<div class="create-password">
  <form class="password-form">
    <mat-form-field class="full-width">
      <mat-label>Password</mat-label>
      <input matInput type="password" [formControl]="password" />
    </mat-form-field>
    <mat-password-strength
      #passwordStrength
      [password]="password.value"
      [enableLengthRule]="true"
      [enableUpperCaseLetterRule]="true"
      [min]="8"
    ></mat-password-strength>
    <mat-password-strength-info
      [passwordComponent]="passwordStrength"
      [enableScoreInfo]="true"
    ></mat-password-strength-info>
  </form>
</div>
